# ASSIGNMENT 5.1

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [11]:
df=pd.read_excel("table.xlsx")

In [13]:

row_tab=["High School","Bachelor","Masters","Ph.d","Row_total"]
colums_tab=["Female","Male","Column_Total"]
rows=dataset.iloc[:,:].values
column=dataset.iloc[:,:].values

print(df)

NameError: name 'dataset' is not defined

# ASSIGNMNET 5.2

In [14]:
import pandas as pd
import numpy as np


Group1=[51, 45, 33, 45, 67]
Group2=[23, 43, 23, 43, 45]
Group3=[56, 76, 74, 87, 56]

In [33]:
print(np.mean(Group1),',',np.mean(Group2),',',np.mean(Group3))
print(np.std(Group1),',',np.std(Group2),',',np.std(Group3))
print(np.var(Group1),',',np.var(Group2),',',np.var(Group3))

48.2 , 35.4 , 69.8
11.070682002478437 , 10.150862032359617 , 12.106196760337244
122.55999999999999 , 103.04 , 146.56

In [32]:
G1_1=np.std(51)
print(G1_1)

0.0

In [27]:
a=np.var(Group1)
b=np.var(Group2)
c=np.var(Group3)

In [28]:
MSerror=(a+b+c)/3
print(MSerror)

124.05333333333333